<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="~/lib/Font-Awesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="~/lib/Font-Awesome/css/regular.min.css">
	<link rel="stylesheet" href="~/lib/Font-Awesome/css/solid.min.css">

	{% load static %} 
	<link rel="stylesheet" href="{% static 'js/app.js' %}">

	<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'icomoon.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'bootstrap.css' %}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static 'style.css' %}">

	<!-- Modernizr JS -->
	<script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">	
	<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner" style="background-image:url(static/orange.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t js-fullheight">
						<div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
							<div class="profile-thumb" style="background: url(static/ayuka.jpg);"></div>
							<h1><span>Ayuka Sonohata</span></h1>
							<h3><span>Information System Student at University of Indonesia</span></h3>
							<p>
								<ul class="fh5co-social-icons">
									<li><a href="https://twitter.com/flowerkels"><i class="fa fa-twitter"></i></a></li>
									<li><a href="https://instagram.com/ayukasnht"><i class="fa fa-instagram"></i></a></li>
									<li><a href="https://www.linkedin.com/in/ayuka-sonohata-66a47a19b/"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-about" class="animate-box">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>My Profile</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<ul class="info">
						<li><span class="first-block">Nama:</span><span class="second-block">Ayuka Sonohata</span></li>
						<li><span class="first-block">NPM:</span><span class="second-block">1906298802</span></li>
						<li><span class="first-block">Angkatan:</span><span class="second-block">2019</span></li>
						<li><span class="first-block">Hobby:</span><span class="second-block">Watching film or series, Singing</span></li>
						<li><span class="first-block">Email:</span><span class="second-block">sonohataayuka@gmail.com</span></li>
						<li><span class="first-block">Address:</span><span class="second-block">Jl. Pinang Merah IV, No. 11A. Taman Yasmin Sektor 6, Kota Bogor. 16113</span></li>
					</ul>
				</div>
				<div class="col-md-8">
					<h2>About Me</h2>
					<p>I am a student at University of Indonesia, majoring in Information System. I am extremely motivated to get new experiences to constantly develop my skills and grow professionally.</p>
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="https://twitter.com/flowerkels"><i class="fa fa-twitter"></i></a></li>
							<li><a href="https://instagram.com/ayukasnht"><i class="fa fa-instagram"></i></a></li>
							<li><a href="https://www.linkedin.com/in/ayuka-sonohata-66a47a19b/"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-resume" class="fh5co-bg-color">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>My Resume</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-md-offset-0">
					<ul class="timeline">
						<li class="timeline-heading text-center animate-box">
							<div><h3>Education</h3></div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="fa fa-university"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Universitas Indonesia</h3>
									<span class="company">2019 - Current</span>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="fa fa-university"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">SMA Negeri 5 Bogor</h3>
									<span class="company">2016-2019</span>
								</div>
							</div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="fa fa-university"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">SMP Negeri 4 Bogor</h3>
									<span class="company">2013-2016</span>
								</div>
							</div>
						</li>

						<br>
						<li class="timeline-heading text-center animate-box">
							<div><h3>Organizations</h3></div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="fa fa-group"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">BEM Fasilkom UI</h3>
									<span class="company">Staff of Culture and Arts Department | 2020 - Current</span>
								</div>
							</div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="fa fa-group"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">OSIS SMA</h3>
									<span class="company">Staff | 2016 - 2018 </span>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="fa fa-microphone"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Lima Vocal Club</h3>
									<span class="company">Club President | 2017 - 2018</span>
								</div>
							</div>
						</li>
			    	</ul>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-skills" class="animate-box">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Skills</h2>
				</div>
			</div>
			<div class="row row-pb-md">
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="95"><span><strong>Public Speaking</strong>95%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="95"><span><strong>Teamwork</strong>95%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="90"><span><strong>Commitment</strong>90%</span></div>
				</div>

				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="90"><span><strong>Marketing</strong>90%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="85"><span><strong>Leadership</strong>90%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="85"><span><strong>Creativity</strong>85%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="90"><span><strong>Communication</strong>90%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="90"><span><strong>Adaptibility</strong>90%</span></div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-work" class="fh5co-bg-dark">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Project</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://nobarkorid.herokuapp.com/" class="work" style="background-image: url(static/nobarkor.png);">
						<div class="desc">
							<h3>Nobarkor.id</h3>
							<span>Website</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://nobarkorid.herokuapp.com/" class="work" style="background-image: url(static/nobarkor2.png);">
						<div class="desc">
							<h3>Nobarkor.id</h3>
							<span>Website</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://nobarkorid.herokuapp.com/" class="work" style="background-image: url(static/nobarkor3.png);">
						<div class="desc">
							<h3>Nobarkor.id</h3>
							<span>Website</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://nobarkorid.herokuapp.com/" class="work" style="background-image: url(static/nobarkor4.png);">
						<div class="desc">
							<h3>Nobarkor.id</h3>
							<span>Website</span>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-work" class="fh5co-bg-dark">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>My Favorite Series</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="#" class="work" style="background-image: url(static/goblin.jpg);">
						<div class="desc">
							<h3>Goblin</h3>
							<span>K-drama</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="#" class="work" style="background-image: url(static/stranger.jpg);">
						<div class="desc">
							<h3>Stranger Things</h3>
							<span>Netflix</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="#" class="work" style="background-image: url(static/thegifted.jpg);">
						<div class="desc">
							<h3>The Gifted</h3>
							<span>Thai Series</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="#" class="work" style="background-image: url(static/aoharu.jpg);">
						<div class="desc">
							<h3>Ao Haru Ride</h3>
							<span>Anime</span>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-work" class="fh5co-bg-dark">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>My Idols</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="#" class="work" style="background-image: url(static/gmmtv.jpg);">
						<div class="desc">
							<h3>GMMTV Boys</h3>
							<span>Thai Actors</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="#" class="work" style="background-image: url(static/skz.jpg);">
						<div class="desc">
							<h3>Stray Kids</h3>
							<span>K-pop Boyband</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="#" class="work" style="background-image: url(static/mewgulf.jpg);">
						<div class="desc">
							<h3>MewGulf</h3>
							<span>Thai Actors</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="#" class="work" style="background-image: url(static/cha.jpg);">
						<div class="desc">
							<h3>Cha Eun-woo</h3>
							<span>Korean Actor</span>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
		<h2>Thank you!</h2>
	</div>
	
	
	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="fa fa-arrow-up"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	<!-- Stellar Parallax -->
	<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
	<!-- Easy PieChart -->
	<script src="{% static 'js/jquery.easypiechart.min.js' %}"></script>
	<!-- Google Map -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
	<script src="{% static 'js/google_map.js' %}"></script>
	
	<!-- Main -->
	<script src="{% static 'js/main.js' %}"></script>

	</body>
</html>

